{% extends '@' ~ app_vendor ~ '_users/layout.html.twig' %}


{% set html_title = 'Search Users: ' ~ pbj.get('ctx_request').get('q') %}
{% set page_title = 'Search Users' %}
{% set can_update = is_granted(app_vendor ~ ':users:command:update-user') %}


{% block content %}
  {% include pbj_template(pbj.get('ctx_request'), 'form', 'html', device_view) with {'pbj': pbj.get('ctx_request')} %}
  <p class="text-muted text-size-small">Found <strong>{{ pbj.get('total')|number_format }}</strong> records in <strong>{{ pbj.get('time_taken') }}</strong> milliseconds.</p>

  <div class="panel panel-flat">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Name</th>
          <th>Email</th>
          <th>Staff</th>
          <th>Created</th>
        </tr>
        </thead>
        <tbody>
        {% for node in pbj.get('nodes') %}
          <tr{% if 'deleted' == node.get('status') %} class="warning"{% endif %}>
            <td nowrap>
              <a href="{{ path('gdbots_iam_admin_user_show', {'user_id': node.get('_id')}) }}" title="view"><span class="glyphicon glyphicon-eye-open"></span></a>
              {% if can_update %}&nbsp;<a href="{{ path('gdbots_iam_admin_user_update', {'user_id': node.get('_id')}) }}" title="edit"><span class="glyphicon glyphicon-edit"></span></a>{% endif %}
            </td>
            <td>
              {{ node.get('title') }}
              {% if node.isInSet('roles', 'SUPER_USER') %} <span class="label label-info">Super User</span>{% endif %}
              {% if node.get('is_blocked') %} <span class="label label-danger">Blocked</span>{% endif %}
            </td>
            <td><a href="mailto:{{ node.get('email') }}">{{ node.get('email') }}</a></td>
            <td>{{ node.get('is_staff') ? 'Yes' : 'No'}}</td>
            <td>{{ node.get('created_at').toDateTime()|date('F d, Y @ h:ia T') }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% include '@components/pager.html.twig' %}
{% endblock %}
