{% extends '@' ~ app_vendor ~ '_users/layout.html.twig' %}


{% set html_title = 'Create Role' %}
{% set page_title = html_title %}


{% block content %}
  <div class="panel">
    <div class="panel-body xpb-5">
      {{ form_errors(pbj_form) }}
      {{ form_start(pbj_form, {'attr': {'id': pbj_form.vars.id}}) }}

      <fieldset>
        <legend><strong>User Info</strong></legend>
        <div class="row">
          <div class="col-md-6">
            {{ form_row(pbj_form.node.first_name) }}
          </div>

          <div class="col-md-6">
            {{ form_row(pbj_form.node.last_name) }}
          </div>

          <div class="col-md-6">
            {{ form_row(pbj_form.node.email) }}
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend><strong>Access Control</strong></legend>
        <div class="row">
          <div class="col-md-2">
            {{ form_row(pbj_form.node.is_staff) }}
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend><strong>&nbsp;</strong></legend>
        <button type="submit" class="btn btn-primary btn-xlg">Create User</button>
        <a href="{{ path('gdbots_iam_admin_user_search') }}" class="btn btn-link">Cancel</a>
      </fieldset>

      <div style="display: none;">
        {{ form_rest(pbj_form) }}
      </div>
      {{ form_end(pbj_form) }}<!--/#{{ pbj_form.vars.id }}-->
    </div>
  </div>
{% endblock %}
