{% extends '@' ~ app_vendor ~ '_roles/layout.html.twig' %}


{% set html_title = pbj.get('title') ~ ' - Role Details' %}
{% set page_title = 'Role Details' %}
{#
We intentionally load the pbjx_request BEFORE anything else so any lazy loaded nodes are in one batch.
The first ncr_get_node() will trigger the lazy load the run.
#}
{% set history = pbjx_request(app_vendor ~ ':roles:request:get-role-history-request', {'stream_id': 'role.history:' ~ pbj.get('_id'), 'forward': false}) %}
{% set creator = ncr_get_node(pbj.get('creator_ref')) %}
{% set updater = ncr_get_node(pbj.get('updater_ref')) %}


{% block content %}
  <div class="panel panel-flat">
    <div class="panel-heading no-padding-bottom">
      <h3 class="panel-title">
        {{ pbj.get('_id') }}
      </h3>
    </div>

    <div class="panel-body">
      {% if pbj.has('allowed') %}
        <p><strong>ALLOWED:</strong></p>
        <ul class="list-group">
          {% for allow in pbj.get('allowed') %}
            <li class="list-group-item"><span>{{ allow }}</span></li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if pbj.has('denied') %}
        <p><strong>DENIED:</strong></p>
        <ul class="list-group">
          {% for deny in pbj.get('denied') %}
            <li class="list-group-item"><span>{{ deny }}</span></li>
          {% endfor %}
        </ul>
      {% endif %}

      <p>
        <a class="btn btn-default btn-sm" data-toggle="modal" data-target="#raw-data-modal"><span class="glyphicon glyphicon-eye-open"></span> &nbsp; View Raw Data</a>
        <a class="btn btn-default btn-sm" href="{{ path('gdbots_iam_admin_role_update', {'role_id': pbj.get('_id')}) }}">Update Role</a>
      </p>
    </div>

    <div class="panel-footer">
      <ul>
        <li><span class="created-at"><strong>Created:</strong> {{ pbj.get('created_at').toDateTime()|date('l F d, Y @ h:ia T') }}</span></li>
      </ul>
      {% if pbj.has('updated_at') %}
        <ul class="pull-right">
          <li>
            <span class="updated-at"><strong>Updated:</strong> {{ pbj.get('updated_at').toDateTime()|date('l F d, Y @ h:ia T') }}</span>
            {% if updater %}
              <span class="updater-ref"><strong>By:</strong> {{ updater.get('title') }}</span>
            {% endif %}
          </li>
        </ul>
      {% endif %}
    </div>
  </div>

  {% include '@components/raw_data_modal.html.twig' %}

  {% if history and history.has('events') %}
    {% include pbj_template(history, 'timeline', 'html', device_view) with {'pbj': history} %}
  {% endif %}
{% endblock %}
